In [0]:
# import needed packages
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [0]:
# read from URL
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
src = requests.get(url).text
Canada = bs(src, 'lxml')

In [0]:
# define DataFrame
col_names = ['PostalCode', 'Borough', 'Neighborhood']
Toronto = pd.DataFrame(columns= col_names)

In [0]:
# read table from URL Data
tbl = Canada.find('table')

In [0]:
# update DataFrame with required data
for tr_cell in tbl.find_all('tr'):
  row_data = []
  for td_cell in tr_cell.find_all('td'):
    row_data.append(td_cell.text.strip())
  if len(row_data)==3:
    Toronto.loc[len(Toronto)] = row_data
Toronto.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [0]:
# removed where 'Borough' = 'Not assigned'
Toronto = Toronto[ Toronto['Borough'] != 'Not assigned']
Toronto.head(10)

   PostalCode           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8         M9A         Etobicoke                             Islington Avenue
9         M1B       Scarborough                               Malvern, Rouge
11        M3B        North York                                    Don Mills
12        M4B         East York              Parkview Hill, Woodbine Gardens
13        M5B  Downtown Toronto                     Garden District, Ryerson

In [0]:
Toronto.shape

(103, 3)

In [0]:
lat_lon_data = pd.read_csv('http://cocl.us/Geospatial_data')
lat_lon_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [0]:
Toronto_df = pd.merge(Toronto, lat_lon_data, how='inner', left_on='PostalCode', right_on='Postal Code')
Toronto_df.drop(['Postal Code'], axis=1, inplace=True)
Toronto_df.head()

  PostalCode           Borough  ...   Latitude  Longitude
0        M3A        North York  ...  43.753259 -79.329656
1        M4A        North York  ...  43.725882 -79.315572
2        M5A  Downtown Toronto  ...  43.654260 -79.360636
3        M6A        North York  ...  43.718518 -79.464763
4        M7A  Downtown Toronto  ...  43.662301 -79.389494

[5 rows x 5 columns]